@using ISSSTE.Tramites2015.Common.Security.Helpers

<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>@ViewBag.Title</title>
   @Scripts.Render("~/bundles/modernizr")
   @Scripts.Render("~/bundles/angularjs")
   @Scripts.Render("~/bundles/history-form")
   @Scripts.Render("~/bundles/followup-form")
   @Styles.Render("~/Content/css")
   @Styles.Render("~/Content/LayoutPeticionesCss")
   @Styles.Render("~/request-form/css")
   @Styles.Render("~/bundles/DatePicker")
   @Styles.Render("~/bundles/CssLayoutPeticiones/css")
   @Styles.Render("~/bundles/OpenSans")
   @Styles.Render("~/bundles/SansSerif")
   @Styles.Render("~/bundles/generalCSS")
   @Styles.Render("~/bundles/menuLateral")
   @*@Styles.Render("~/bundles/entitle/css")*@




   <link rel="icon" href="@Url.Content("~/Imagenes/LayoutPeticiones/favicon.ico")" type="image/x-icon" />
</head>
<body>
   <div class="container-fluid">
      <img class="logo" src="@Url.Content("~/Imagenes/LayoutPeticiones/issste-logo.jpg")">
   </div>

   <div class="navbar navbar-default abl-navbar" role="navigation">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-menu" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <div class="container-fluid">
         <div>
            <ul class="nav navbar-nav navbar-left">
               <li>
                  <a href="@Url.Action("BandejaIndex", "BandejaDepeticiones" , null, Request.Url.Scheme)">
                     @ViewBag.Title
                  </a>
               </li>
            </ul>
            <ul class="nav navbar-nav navbar-user">
               @if (Request.GetOwinContext().Authentication.User.Identity.IsAuthenticated)
               {
               <li>
                  @{
                     var user = Request.GetOwinContext().GetAuthenticatedUser();
                     var displayName = String.IsNullOrEmpty(user.Name) ? user.UserName : user.Name;
                  }
                  <a class="dropdown-toggle" data-toggle="dropdown">
                     <span class="glyphicon glyphicon-user abl-usuarios"></span>
                     @displayName <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu multi-level">
                     <li>
                        <a href="@Url.Action("Logout", "Account" , new { returnUrl=Url.Action("BandejaIndex", "BandejaDepeticiones" , null, Request.Url.Scheme) }, null)">
                           Cerrar sesión
                        </a>
                     </li>
                  </ul>
               </li>
                     }
            </ul>
         </div><!--/.nav-collapse -->
      </div><!--/.container -->
   </div><!--/.navbar -->


   <div class="row content ">
      <div class="col-sm-2 sidenav">
         <br />
         @{ var idUser = Convert.ToInt32(Session["IdUsuarioRolReportes"]); }
         <ul class="nav nav-pills nav-stacked">
            <li id="liBandeja">
               <a href="~/BandejaDePeticiones/Reset">Bandeja de peticiones</a>
            </li>
            @if (idUser == 1)
            {
         <li class="@ViewBag.OcultaOpcionMenuDias" id="liBitacora">
            <a href="~/Bitacora/Index">Bitácora del sistema</a>
         </li>
         <li class="@ViewBag.OcultaOpcionMenuDias" id="liDias">
            <a href="~/DiasNoLaborables/ListaDiasNoLaborables">   Días no laborables</a>
         </li>
            }
         @*<li><a href="#section3">   Administración</a></li>*@
         @if (idUser == 1 | idUser == 2)
         {
         <li class="@ViewBag.OcultaOpcionMenuReportes" id="liReportes">
            <a href="~/Reportes/Reportes">   Reportes</a>
         </li>
         <li class="@ViewBag.OcultaOpcionMenuTablero" id="liTablero">
             <a href="~/Reportes/TableroDeControl">   Tablero de control</a>
            @*<a href="~/TableroDeControl/Index">   Tablero de control</a>*@
         </li>
         }
      </ul><br>
   </div>
   <div class="col-sm-10">
      @RenderBody()
   </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
